@model Classes

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateClassToDatabase", "Class", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="Role" class="control-label">Name</label>
    <input type="text" name="Role" class="form-control" value="@Model.Role" />

    <label asp-for="Magic" class="control-label">Magic</label>
    <input type="text" name="Magic" class="form-control" value="@Model.Magic" />

    <input type="submit" value="Update Class" class="btn btn-primary" />
}