@model Classes

<div style="background-color: #9e829c70; padding: 32px">
<h3>@Model.Name Information</h3>
<table class="table table-striped table-hover">
    <tr>
        <th style="color: aliceblue;">ClassID</th>
        <th style="color: aliceblue;">Name</th>
        <th style="color: aliceblue;">Role</th>
        <th style="color: aliceblue;">Magic</th>
    </tr>
    <tr>
        <td style="color: aliceblue;">@Model.ID</td>
        <td style="color: aliceblue;">@Model.Name</td>
        <td style="color: aliceblue;">@Model.Role</td>
        <td style="color: aliceblue;">@Model.Magic</td>
    </tr>

    <div style="display: block">
    <a class="btn btn-primary" style="margin-bottom:10px" href="/Classes/UpdateClass/@Model.ID">Update Class</a>
</div>

    <div style="display: block">

        @using (Html.BeginForm("DeleteClass", "Classes", "Post"))
        {
            <input type="hidden" asp-for="ID" value="@Model.ID" />
            <button class=" btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" value="Delete this class">Delete Class</button>
        }
    </div>
</div>